.form-container{
    border: solid 3px var(--purple-light);
    border-radius: 15px;
    background-color: var(--gray);
}
.btn, .form-control{
    border-color: var(--purple);
    color: var(--purple);
    background-color: var(--white-gray);
}
.btn{
    width: 25%;
}
.btn:hover{
    border-color: var(--purple);
    background-color: var(--purple);
}
form div p{
    color: var(--purple-dark);
}
.forgot-psw{
    text-decoration: underline var(--purple-dark);
    text-align: end;
}